html,body,div,h1,h2,h3,h4,p,ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
input:focus{
	outline:none;
}

/* Text and color */
body,text{
	color:white;
	fill:white;
	font-family:'Miso';
}

/* Layout */
html,body{
	width:100%;
	height:100%;
	background:rgb(0,50,255);
}
.app{
	width:100%;
	height:100%;
	position:relative;
	display:grid;
	grid-template-columns:25% 75%;
	grid-template-rows:60px auto;
	grid-template-areas:
		"search search"
		"side-bar main";
}
#station-search{
	grid-area: search;
	border-bottom:1px solid rgba(255,255,255,.3);
}
.side-bar{
	grid-area:side-bar;
	border-right:1px solid rgba(255,255,255,.3);
	padding:0 15px;
}
	.side-bar .module{
		width:100%;
		height:150px;
	}
.main{
	grid-area:main;
	padding:0 15px;
	position:relative;
	overflow:hidden;
}
	.main .module{
		width:100%;
		height:100%;
	}

@media (max-width: 500px){
	/*One column layout*/
	.app{
		display:grid;
		grid-gap:20px;
		grid-template-columns:100%;
		grid-template-areas:
			"search"
			"side-bar"
			"main";
	}
	.side-bar{
		border:none;
	}
	.main{
		height:100%;
	}
}

/*Modules*/
.module{
	min-width:150px;
	min-height:60px;
	position:relative;
}
.module .anno{
	font-size:.75em;
	font-weight:bolder;
}

/*Histogram*/
.histogram .bin .top{
	fill:rgba(255,255,255,.3);
}
.histogram .bin .bottom{
	fill:rgba(0,0,0,.02);
}

/*Timeline*/
.timeline .area{
	fill:rgba(0,0,0,.2);
}
.timeline .axis .tick line{
	stroke:rgba(255,255,255,.4);
	stroke-dasharray:2px 2px;
}
.timeline .axis .tick text{
	fill:rgba(255,255,255,.4);
}
.timeline .axis .domain{
	display:none;
}


/* mainViz */
.main .unmount{
	border:none;
	border-radius:.75em;
	background:rgba(0,0,0,.05);
	position:absolute;
	width:100%;
	bottom:20px;
	left:0;
	text-align:center;
}
.main .unmount{
	clear:both;
}
.main .unmount:hover{
	border:none;
	background:rgba(0,0,200,1);
}

/* stationList */
.station-list::after{
	display:block;
	content:"";
	clear:both;
}

/* stationList -> stationIndex */
@media (max-width:500px){
	.station-index{
		display:block;
	}
	.station-index::after{
		display:block;
		content:"";
		clear:both;
	}
}

.station-index .page-nav{
	transform:translate(0,50%);
}
	.station-index .page-nav-button{
		width:6px;
		height:6px;
		margin:0 5px;
		float:left;
		background:white;
		border-radius:50px;
		cursor:pointer;
		transition:all 200ms;
	}
	.station-index .page-nav-button:hover{
		transform:scale(2);
	}

/*stationList -> StationNode*/
.station-node .anno span{
	padding:3px 4px;
	color:white;
}
.station-node .anno .stn-name{
	color:#03afeb;
}

/*Search*/
#station-search .anno{
	height:100%;
	float:left;
}
#station-search .input-container{
/*	height:100%;
*/	float:left;
	height:60px;
}
#station-search .status{
	position:absolute;
	right:0;
	width:60px;
	height:100%;
}
#station-search input{
	width:100%;
	height:100%;
	font-size:40px;
	padding:5px 25px 0;
	background:none;
	border:none;
}
#station-search input::placeholder{
	color:rgb(0,50,200);
}
#station-search .anno .stn-id,
#station-search .anno .stn-name{
	padding:0 10px;
	font-size:40px;
	line-height: 60px;
	height:100%;
	float:left;
}
.typeahead{
	position:absolute;
	top:60px;
	bottom:0;
	width:100%;
	background:white;
	color:rgb(0,50,255);
	padding:10px 25px;
}
.typeahead li{
	font-size:40px;
}

/* stationGraph */
.station-graph svg text{
	fill:rgb(0,0,225);
	font-size:.75em;
}
.station-graph svg .station-node{
	cursor:pointer;
}
	.station-graph svg .station-node circle{
		fill-opacity:.8;
	}
	.station-graph svg .station-node:hover circle{
		fill-opacity:1;
		stroke-width:2px;
		stroke:rgb(0,50,255);
	}

/* Global UI Elements*/

/* Loading status */
.loading-status path{
	animation:rotate 2s infinite;
}

/* Buttons */
.hubway-button{
	padding:6px 8px 5px;
	margin:0 3px;
	border-radius:2em;
	border:1px solid rgba(255,255,255,.3);
	color:rgba(255,255,255,.3);
	transition:all 200ms;
}
.hubway-button:hover{
	border:1px solid rgb(255,255,255);
	color:white;
}
.hubway-button.active{
	border:1px solid rgb(255,255,255);
	background:white;
	color:rgb(0,50,255);
	text-decoration: none;
}
.hubway-button.active:hover{
	color:rgb(0,50,255);
}

/* TimeInput */
.time-input{
	padding:2px 8px 1px;
	border-radius:2em;
	transition:all 200ms;
	color:rgba(255,255,255,.3);
	background:rgba(0,0,0,.05);
	height:30px;
	line-height:30px;
	margin:auto 0;
}
.time-input:hover{
	color:white;
}
.time-input input{
	background:none;
	border:none;
	margin:0;
	padding:0;
}
.time-input .input-date::-webkit-inner-spin-button{
	display:none;
}

/* Top-banner */
.banner-top{
	width:100%;
	height:45px;
	line-height:45px;
	position:relative;
	border-bottom:1px solid rgba(255,255,255,.3);
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}

/* Tooltip */
.hubway-tooltip{
	width:150px;
	max-height:500px;
	background:white;
	position:absolute;
	z-index:999;
	box-shadow: 0px 2px 5px 3px rgba(0,0,0,.15);
	border-radius:3px;
}
.hubway-tooltip .info-container{
	padding:10px;
}
.hubway-tooltip .map-container{
	height:150px;
	background:rgb(0,50,255);
	border-radius:0 0 3px 3px;
}
.hubway-tooltip .name{
	color:rgb(0,50,255);
	font-size:1.1em;
	padding:3px 0;
	display:block;
}

/* .anno */
.anno{
	font-size:.75em;
	font-weight:bolder;
}
.anno span{
	padding:3px 4px;
	color:white;
}
.anno .stn-id{
	background:rgb(0,0,180);
}
.anno .stn-name{
	background:white;
	color:rgb(0,50,255);
	text-transform: uppercase;
}



/* Fonts */
@font-face{
	font-family:Maison;
	src:url('./fonts/MaisonNeueTRIAL-Bold.otf');
}
@font-face{
	font-family:Miso;
	src:url('./fonts/MISO-BOL.otf');
}

/*Animation key frame*/
@keyframes rotate{
	from {transform:rotate(0);}
	to {transform:rotate(360deg);}
}
